---
import Base from "../layouts/Base.astro";

import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Contact from "../components/Contact.astro";
---

<Base title="Sebastián Vedoya M. — Comunicación Estratégica">
  <Header />
  <main>
    <Hero />
  </main>
  <Contact />
</Base>
