---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import System from '../components/System.astro';
import Projects from '../components/Projects.astro';
import Reflections from '../components/Reflections.astro';
import PressGrid from '../components/PressGrid.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <Header />
  <main>
    <Hero />
    <System />
    <Projects />
    <Reflections />
    <PressGrid />
    <Contact />
  </main>
  <Footer />
</Base>
