---
const frase = "Ningún actor puede controlar el entorno sin igualarlo en complejidad; y si no puede igualarlo, debe aprender a domesticarlo", Ross Ashby.;
---
<section id="sistema" class="section" data-fade>
  <div class="container">
    <div class="system-quote">
      {frase}
    </div>
  </div>
</section>